<!-- Header -->
  <header class="main">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Bellevue Farmers Market</h1>
        <hr>
      </div>
    </div>
  </header>

  <!-- Market -->
  <section id="market" class="market">
    <div class="container-fluid bg-secondary">
      <div class="col-lg-12 text-center">
        <h2>Experience the Market</h2>
        <p class="lead">BFM operates a seasonal Thursday farmers market, held every week rain or shine from May - October. Each market day is composed of its own unique mix of vendors offering seasonal fruits & vegetables, cut flowers, fresh meats, one-of-a-kind artisan goods, and tasty cuisine. All BFM vendors grow and make the products they sell, and we are proud to say everything sold at our market comes from within the great state of Washington.
          <br><br>
          Whether you are looking for fresh ingredients, a grab-and-go meal, or a gift for someone special – we’ve got you covered.</p>
          <img src="img/photos/sunny+day+at+the+market.jpg" alt="bellevue-farmers-market-sunny-day" class="img-responsive col-md-8 col-md-offset-1 col-sm-12">
        </div>

        <!-- Additional Info about Market -->
        <section>
         <div class="container-fluid additional col-md-12">
          <div class="location container">
           <div class="col-md-3 text-center">
            <h3>LOCATION</h3>
            <hr class="small">
            <h4>1717 Bellevue Way NE <br>
             Bellevue, WA 98004</h4>
             <h6>We are located in the parking lot of Bellevue Presbyterian Church, half a mile north of Downtown Bellevue.</h6>
           </div>
           <div class="col-md-3 text-center">
            <h3>DAYS OF OPERATION</h3>
            <hr class="small">
            <h4>THURSDAYS: 3:00 - 7:00 pm</h4>
            <h4>May 18, 2017 – Oct. 12, 2017</h4>
          </div>
          <div class="col-md-3 text-center">
            <h3>PARKING & INFO</h3>
            <hr class="small">
            <h4>There is ample free parking available on-site.</h4>
            <h4>Pets are not allowed, with the exception of service animals.</h4>
          </div>
          <div class="col-md-3 text-center">
            <h3>ACCESSABILITY</h3>
            <hr class="small">
            <h4>We do our best to keep our market accessible to all by accepting a variety of Payment Options, and are proud of our handicap accessible market-site.</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Sponsors -->
<section id="sponsors" class="sponsors">
  <div class="container-fluid">
    <div class="text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our 2017 Sponsors</h2>
        <i class="fa fa-heart fa-4x"></i>
        <h3>THANK YOU</h3>
        <hr>
        <div class="container">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-responsive" src="img/sponsor-logos/Aegis-Living-of-Bellevue.png" alt="ageis-living-bellevue">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/bottle-motion-logo-horizontal-2016.png" alt="bottle-motion">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-responsive" src="img/sponsor-logos/bellevue.png" alt="city-of-bellevue">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-responsive" src="img/sponsor-logos/bfm.png" alt="befriend-the-market">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/bright-horizons.png" alt="bright-horizons">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/childsplay.png" alt="childs-play">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/overlake-logo.svg" alt="overlake-medical-center">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/kbcs_logo.png" alt="kbcs">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/Seattle_Children's.png" alt="seattle-childrens-hospital">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/whole-foods.png" alt="whole-foods-market">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/WindermereLogoColor.png" alt="windermere-real-estate">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/avalon-esterra.png" alt="avalon-esterra-park">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img src="img/sponsor-logos/avalon-newcastle.png" alt="avalon-newcastle-commons">
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 col-lg-offset-1 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Map -->
<section id='contact' class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1717+Bellevue+Way+NE,+Bellevue,+WA+98004&amp;aq=0&amp;oq=twitter&amp;sll=47.6263947,-122.2076446&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
</section>
<script src="../js/index.js"></script>
<!-- Footer -->
<footer>
  <div class="container-fluid bg-secondary">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4><strong>Bellevue Farmers Market</strong>
        </h4>
        <p>1717 BELLEVUE WAY NORTHEAST
          <br>BELLEVUE, WA 98004</p>
          <ul class="list-unstyled">
            <li><i class="fa fa-phone fa-fw"></i> (425) 454-8474</li>
            <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:fresh@bellevuefarmersmarket.org">FRESH@BELLEVUEFARMERSMARKET.ORG</a>
            </li>
          </ul>
          <br>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/bellevueFM/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/bellevuefarmersmrkt/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/BellevueFarmMkt"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
          </ul>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Bellevue Farmers Market 2017</p>
        </div>
      </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
  </footer>