  <!-- Navigation -->
  <nav id="nav" class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse">
          <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/">
          <img src="img/logo/logo.png" height="50" width="50">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-text" href="/">The Market</a></li>
          <li><a class="nav-text" href="/vendors">Vendors</a></li>
          <li class="dropdown dropdown-extra">
            <a class="nav-text dropdown-toggle" data-toggle="dropdown" href="/involved">Get Involved</a>
            <ul class="dropdown-menu">
              <li><a href="/vendor-application" class="nav-text">Be A Vendor</a></li>
              <li><a href="/sponsor" class="nav-text">Sponsorship</a></li>
              <li><a href="/volunteer" class="nav-text">Volunteer</a></li>
              <li><a href="/musicians" class="nav-text">Musicians</a></li>
              <li><a href="/non-profit" class="nav-text">Non-Profit</a></li>
              <li><a href="/pop" class="nav-text">Power of Produce</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-extra">
            <a class="nav-text dropdown-toggle" data-toggle="dropdown" href="/resources">Resources</a>
            <ul class="dropdown-menu">
              <li><a href="/expect" class="nav-text">What to Expect</a></li>
              <li><a href="/payments" class="nav-text">Snap, WIC, Fresh Bucks</a></li>
              <li><a href="/payment-options" class="nav-text">Payment Options</a></li>
              <li><a href="/2016" class="nav-text">2016 Impact Statement</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-extra">
            <a class="nav-text dropdown-toggle" data-toggle="dropdown"" href="/about">About Us</a>
            <ul class="dropdown-menu">
              <li><a href="/mission" class="nav-text">Mission</a></li>
              <li><a href="/staff" class="nav-text">Staff & Board</a></li>
              <li><a href="/employment" class="nav-text">Employment</a></li>
              <li><a href="/contact" class="nav-text">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-text" href="/blog">Blog</a></li>
          <li><a class="nav-text" href="/donate">Donate</a></li>
          <li><a class="nav-text" href="#contact">Find Us</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>