<!-- Footer -->
<footer>
	<div class="container-fluid bg-secondary">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h4><strong>Bellevue Farmers Market</strong>
				</h4>
				<p>1717 BELLEVUE WAY NORTHEAST
					<br>BELLEVUE, WA 98004</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-phone fa-fw"></i> (425) 454-8474</li>
						<li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:fresh@bellevuefarmersmarket.org" class="email">FRESH@BELLEVUEFARMERSMARKET.ORG</a>
						</li>
					</ul>
					<br>
					<ul class="list-inline">
						<li>
							<a href="https://www.facebook.com/bellevueFM/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/bellevuefarmersmrkt/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/BellevueFarmMkt"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
						</li>
					</ul>
					<hr class="small">
					<p class="text-muted">Copyright &copy; Bellevue Farmers Market 2017</p>
				</div>
			</div>
		</div>
		<a id="to-top" href="#top" class="btn btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
  </footer>