.bold {
  font-weight: 600; }

html,
body {
  width: 100%;
  height: 100%; }

.bg-primary {
  background-color: #40975B !important; }

.bg-secondary {
  background-color: #93B7BE !important; }

.bg-tertiary {
  background-color: #F2F3AE !important; }

.bg-quaternary {
  background-color: #F9A03F !important; }

.bg-light {
  background-color: #F1FFFA !important; }

.bg-dark {
  background-color: #000000 !important; }

hr.small {
  max-width: 100px; }

hr.med {
  max-width: 200px; }

hr.lg {
  max-width: 300px; }

.navbar {
  background-color: #40975B !important;
  border-color: #40975B;
  font-family: "Dosis", sans-serif !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.navbar .navbar-header .navbar-brand img {
  margin-top: -30%; }

.navbar .navbar-header .navbar-toggle {
  font-family: "Dosis", sans-serif !important;
  font-weight: 700;
  font-size: 12px;
  color: white !important;
  text-transform: uppercase; }

.navbar .nav > li > a,
.navbar .nav > li > a:focus {
  color: white !important;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif !important;
  font-weight: 700;
  font-size: 16px; }

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus:hover {
  color: #000000 !important;
  font-family: "Dosis", sans-serif !important; }

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:focus {
  color: #000000 !important;
  background-color: #40975B !important;
  font-family: "Dosis", sans-serif !important; }

.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus:hover {
  background-color: #40975B !important; }

.navbar .nav > li.dropdown:hover > a,
.navbar .nav > li.dropdown:hover > a:hover,
.navbar .nav > li.dropdown:hover > a:focus {
  background-color: #40975B !important;
  color: #000000; }

.navbar .nav > li.dropdown .dropdown-extra:hover,
.navbar .nav > li.dropdown .dropdown-extra:focus {
  background-color: transparent !important; }

li.dropdown:hover > .dropdown-menu {
  background-color: #40975B !important;
  display: block;
  font-size: 18px !important;
  padding: 5%; }

li.dropdown > .dropdown-menu > li a {
  color: #F1FFFA; }

li.dropdown > .dropdown-menu > li a:hover {
  color: #000000; }

@media (min-width: 768px) {
  .navbar {
    background-color: #40975B !important;
    border-color: #40975B; }
  .navbar .nav > li > a,
  .navbar .nav > li > a:focus {
    background-color: transparent !important;
    color: white !important;
    font-family: "Dosis", sans-serif !important; }
  .navbar .nav > li > a:hover,
  .navbar .nav > li > a:focus:hover {
    color: transparent;
    font-family: "Dosis", sans-serif !important; }
  .navbar.affix {
    background-color: #40975B; }
  .navbar.affix .nav > li > a,
  .navbar.affix .nav > li > a:focus {
    color: #F1FFFA;
    font-family: "Dosis", sans-serif !important; }
  .navbar.affix .nav > li > a:hover,
  .navbar.affix .nav > li > a:focus:hover {
    color: #F1FFFA;
    font-family: "Dosis", sans-serif !important; } }

header {
  background-image: url(../img/photos/tomatoes.jpg);
  color: white;
  font-family: "Dosis", sans-serif !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

header .header-content {
  font-family: "Dosis", sans-serif !important;
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%; }

header .header-content .header-content-inner h1 {
  font-family: "Dosis", sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px; }

header .header-content .header-content-inner hr {
  margin: 30px auto; }

header .header-content .header-content-inner p {
  font-family: "Dosis", sans-serif !important;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px; }

@media (min-width: 768px) {
  header {
    min-height: 100%; }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px; }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
  header .header-content .header-content-inner h1 {
    font-family: "Dosis", sans-serif !important;
    font-size: 50px; }
  header .header-content .header-content-inner p {
    font-family: "Dosis", sans-serif !important;
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; } }

.market .location-container h2, h3, h4, h6, p {
  color: #F1FFFA !important;
  font-family: "Dosis", sans-serif !important; }

.market img {
  height: auto;
  width: 80vw; }

section .additional {
  display: inline;
  font-family: "Dosis", sans-serif !important; }

.sponsors {
  font-family: "Dosis", sans-serif !important;
  margin-bottom: 5%; }

.sponsors h2, h3 {
  color: #000000 !important;
  font-family: "Dosis", sans-serif !important; }

.sponsors img {
  margin: 5%;
  width: 60%; }

.sponsors i {
  color: #eb3812 !important; }

.map {
  height: 500px;
  width: 100%; }

@media (max-width: 768px) {
  .map {
    height: 75%; } }

.map iframe {
  pointer-events: none; }

footer h4, p {
  color: #000000 !important;
  font-family: "Dosis", sans-serif !important; }

footer i {
  color: #000000 !important; }

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px; }

footer ul .email {
  color: #F1FFFA !important; }

.vendor-header {
  background: url(../img/photos/IMG_1888.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: #F1FFFA;
  font-family: "Dosis", sans-serif; }

.carousel {
  margin: 2% 0; }

.carousel img {
  max-height: 70vh; }

.vendors i {
  color: #eb3812 !important; }

.vendors h2, h3, h4, li {
  color: #000000 !important;
  font-family: "Dosis", sans-serif !important; }

.vendors h3 {
  font-size: 2em; }

.info .vendor-list li a {
  color: #F2F3AE; }

.info .vendor-list li {
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
  list-style: none;
  padding: 1% 0; }

.top-info li {
  padding: 1% 0; }

.sponsor-header {
  background: url("../img/photos/IMG_1891.JPG"); }
