// Variables for main colors

$primary: #40975B;
$secondary: #93B7BE;
$tertiary: #F2F3AE;
$quaternary: #F9A03F;

// Font Variables

$fontColor: #F1FFFA;
$fontColor2: #000000;
$font: 'Dosis', sans-serif;
$bold: 600;

.bold {
  font-weight: $bold;
}

// HR Rules
$small: 100px;
$medium: 200px;
$large: 300px;

// Main Styles
html,
body {
    width: 100%;
    height: 100%;
}

// SECTION BACKGROUNDS
.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}
.bg-tertiary {
  background-color: $tertiary !important;
}
.bg-quaternary {
  background-color: $quaternary !important;
}
.bg-light {
  background-color: $fontColor !important;
}
.bg-dark {
  background-color: $fontColor2 !important;
}

// HORIZONTAL RULE
hr.small {
  max-width: $small;
}

hr.med {
  max-width: $medium;
}

hr.lg {
  max-width: $large;
}

// NAV BAR
.navbar {
  background-color: $primary !important;
  border-color: $secondary;
  font-family: $font !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar .navbar-header .navbar-brand img {
  margin-top: -30%;
}
.navbar .navbar-header .navbar-toggle {
  font-family: $font !important;
  font-weight: 700;
  font-size: 12px;
  color: white !important;
  text-transform: uppercase;
}
.navbar .nav > li > a,
.navbar .nav > li > a:focus {
  color: white !important;
  text-transform: uppercase;
  font-family: $font !important;
  font-weight: 700;
  font-size: 16px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus:hover {
  color: $fontColor2 !important;
  font-family: $font !important;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:focus {
  color: $fontColor2 !important;
  background-color: transparent !important;
  font-family: $font !important;
}
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus:hover {
  background-color: transparent !important;
}
@media (min-width: 768px) {
  .navbar {
    background-color: $primary !important;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar .nav > li > a,
  .navbar .nav > li > a:focus {
    color: white !important;
    font-family: $font !important;
  }
  .navbar .nav > li > a:hover,
  .navbar .nav > li > a:focus:hover {
    color: transparent;
    font-family: $font !important;
  }
  .navbar.affix {
    background-color: transparent;
    // border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar.affix .nav > li > a,
  .navbar.affix .nav > li > a:focus {
    color: transparent;
    font-family: $font !important;
  }
  .navbar.affix .nav > li > a:hover,
  .navbar.affix .nav > li > a:focus:hover {
    color: transparent;
    font-family: $font !important;
  }
}

// HEADER
header {
  position: relative;
  font-family: $font !important;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url(../img/photos/IMG_1893.JPG);
  text-align: center;
  color: white;
}
header .header-content {
  font-family: $font !important;
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-family: $font !important;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-family: $font !important;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-family: $font !important;
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-family: $font !important;
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
// MARKET
.market .location-container h2, h3, h4, h6, p {
  color: $fontColor !important;
  font-family: $font !important;
}
.market img {
  height: auto;
  width: 80vw;
}
section .additional {
  display: inline;
  font-family: $font !important;
}

// SPONSORS
.sponsors {
  font-family: $font !important;
  margin-bottom: 5%;
}

.sponsors h2, h3 {
  color: $fontColor2 !important;
  font-family: $font !important;
}

.sponsors img {
  // height: 70%;
  margin: 5%;
  width: 60%;
}

.sponsors i {
  color: #eb3812 !important;
}

// MAP

.map {
  height: 500px;
  width: 100%;
}

@media(max-width:768px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

// FOOTER
footer h4, p {
  color: $fontColor2 !important;
  font-family: $font !important;
}

footer i {
  color: $fontColor2 !important;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

////////////VENDOR PAGE////////////////////
// HEADER
.vendor-header {
  background: url(../img/photos/IMG_1888.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: $fontColor;
  font-family: $font;
}

// CAROUSEL
.carousel {
  margin: 2% 0;
}

.carousel img {
  max-height: 70vh;
}

// INFO
.vendors i {
  color: #eb3812 !important;
}

.vendors h2, h3, h4, li {
  color: $fontColor2 !important;
  font-family: $font !important;
}

.vendors h3 {
  font-size: 2em;
}

.info .vendor-list li a {
  color: $tertiary;
}
.info .vendor-list li {
  font-family: $font;
  font-size: 1.5em;
  list-style: none;
  padding: 1% 0;
}

///////////VENDOR APPLICATION///////////////////////
.top-info li {
  padding: 1% 0;
}